<div class="container">
    <h2>Super Boutique Cooking</h2>
    <form >  
        <div class="row">
            <div class="col-9 row">
                <app-item *ngFor="let product of products"
                [product] = "product" class="col-md-6 col-xl-4"></app-item>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-9">Total de l'achat : {{total}}</div>
            <div class="col-9">
                <button type="submit"
                     class="buttonRed"
                    (click)="onPayer()">PAYER</button>
            </div>
        </div>

    </form>
</div>
