<div class="row">
    <div class="col"></div>
    <div class="col align-self-center">
     
    <div class="cardLogin mb-5">

        <h2 class="text-center">Login pour acheter</h2>
        <div class="form-group">
            <input type="text" [(ngModel)]="nick" >
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="password">
        </div>
    
            <button type="submit" class="btn"
                (click)="onValide()">ENTRER</button>
        
    </div>


</div>
<div class="col"></div>
</div>